[user]
    name = Angus R. Williams
    email = angusrwilliams@gmail.com

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[alias]
    co = checkout
    br = branch
    st = status
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --oneline --graph --decorate
    cleanup = !git branch --format='%(refname:short)' | grep -v '^main$' | xargs git branch -d
    ri = rebase -i --autosquash
    fixup = commit --fixup
    amend = commit --amend --no-edit
    pushf = push --force-with-lease
    aliases = !git config --get-regexp ^alias\\. | sed -e 's/^alias\\.//' -e 's/ / = /'
